* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 3%;
    margin-right: 3%;
    overflow: auto;
}

.container {
    max-height: 50%;
}

#numehotel {
    margin-top: 0.3vw;
    font-size: 2vw;
    color: #fa8e01;
}

#numehotel,
#hotel {
    font-size: 1em;
}

.text-primary {
    color: #fa8e01;
    display: inline-block;
    text-shadow: 0.5px 0.5px #110f05;
}

.umbre {
    text-shadow: 0.5px 0.5px #110f05;
}

.lead {
    font-size: 2vw;
}

.btn {
    margin-top: 20%;
    display: inline-block;
    font-size: 2vw;
    color: white;
    background: rgba(149, 58, 58, 0.288);
    padding: 0.8vw 0.7vw;
    border: none;
    cursor: pointer;
    margin-bottom: 0.2vw;
}

#margine {
    box-sizing: border-box;
    margin-top: 2.1vw;
}

.btn:hover {
    transition: 2.5s;
    background: #d18726c7;
    color: #333;
}

.btn-light {
    background: rgba(149, 58, 58, 0.384);
    color: white;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 10px;
}

p {
    margin: 2px 0;
}

.bg-dark {
    background: #333;
    color: white;
}

.bg-light {
    background: #333;
    color: #f4f4f4;
}

.bg-primary {
    background: #333;
    color: #d18726c7;
}

#navbar {
    background: rgba(80, 37, 37, 0.883);
    color: white;
    overflow: auto;
}

#navbar a {
    color: white;
}

#navbar h1 {
    float: left;
    padding-top: 10px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 10px;
    text-align: center;
}

.font-text,
.text-primary {
    margin-top: -30px;
    font-size: 3em;
}

.font-text .text-primary,
.hotelul-nostru {
    padding-top: 1vw;
    margin-top: 1.2%;
    font-size: 2.5vw;
}

.btn-light {
    position: relative;
    margin-left: 18%;
    text-align: center;
    padding: 15px 15px;
    overflow: hidden;
}

#home-info #indentare {
    display: inline-flexbox;
    text-align: justify;
    font-size: 1.3vw;
    margin-left: 52%;
    margin-right: 2%;
    padding-top: 0.5vw 0.5vw;
    margin-bottom: 1vw;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: rgba(85, 23, 23, 0.486);
    color: #d18726c7;
}


/*  Pt showcase*/

#showcase {
    background: url("imagini/showcase.jpg") no-repeat center center/cover;
    min-height: 550px;
}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 10vw;
    margin-bottom: 2vw;
}

#showcase .showcase-content h1 {
    font-size: 5vw;
    line-height: 1.1em;
}

#showcase .showcase-content p {
    padding-bottom: 5vw;
    line-height: 1.7em;
}


/* Asta e titlu*/

#titlu .text-primary {
    font-size: 5vw;
}


/* Home info*/

#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    height: 100%;
    background: url(imagini/photo-1.jpg) no-repeat;
    border-right: 1px solid white;
}

#home-info .info-content {
    font-size: 1vw;
    float: right;
    width: 50%;
    text-align: center;
    padding: 1vw 1vw;
    overflow: hidden;
}

#home-info .info-content p {
    padding-bottom: 30px;
}

.font-text #hotelul-nostru {
    font-size: 2vw;
}

#margine:hover {
    border: 1px solid #fa8e01;
}

.fas {
    margin-left: 43%;
}


/* Features*/

.box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 33%;
    margin-top: 1px;
    display: inline-flex;
    padding: 10px 7px;
}

#mijloc {
    color: #333;
    background: #f5ab56;
}

.light {
    color: #333;
    background: white;
}

.menu li {
    font-size: 10px;
    padding: 0;
    margin: 0;
}


/* Footer */

#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}

.clr {
    clear: both;
}

#features .ceva {
    margin-top: 1px;
    text-align: center;
    margin-bottom: 1vw;
}

.font-text,
#istoria {
    margin-top: 0.3px;
}

#margine {
    margin-top: 1px;
}

#features .indent {
    margin-left: 25%;
    text-align: center;
}

#testimonials .testimonial {
    margin-top: 50px;
    color: red;
}

#navbar ul li a {
    font-size: 1em;
}

.box {
    text-align: center;
    min-width: 300px;
    align-items: center;
}

#navbar ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

.box .indent {
    padding-top: 10px;
    padding-left: 50px;
    color: black;
    margin-left: 500px;
}

#istoria,
#hotelul-nostru {
    margin: 0px;
    padding: 0px;
    margin-top: -90px;
}



#navbar #numehotel,
#hotel {
    font-size: 3em;
}

#navbar ul li a {
    font-size: 3em;
}
